body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:visited {
  color: #000;
}

html,
body,
#root {
  height: 100%;
}

.container {
  padding: 30px 0;
}

.container .header {
  border-bottom: 1px solid #ddd;
}

.container .header .header-top {
  font-size: 22px;
  background: #222;
  padding: 20px 0;
  color: white;
  text-align: center;
}

.container .header .header-top svg {
  margin-right: 10px;
}

.container .header .navbar {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .header .navbar svg {
  margin-right: 10px;
}

.container .header .navbar a,
.container .header .navbar span {
  font-size: 18px;
  font-weight: 500;
}

.container .header .navbar span svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.container .content .total-amount {
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  color: #b42929;
}

.container .content .book-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  margin: 20px;
  border: 1px solid #ddd;
  display: flex;
}

.container .content .book-container .book-img {
  width: 200px;
  height: 300px;
  margin-right: 20px;
}

.container .content .book-container .book-img .aspect-ratio-container {
  position: relative;
  height: 0;
  padding-top: 150%;
}

.container .content .book-container .book-img .aspect-ratio-container .aspect-ratio-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .content .book-container .book-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container .content .book-container .book-info p {
  padding: 10px 0;
  font-size: 16px;
  font-weight: 500;
}

.container .content .book-container .book-info .add-to-cart,
.container .content .book-container .book-info .remove-from-cart,
.container .content .book-container .book-info .increase,
.container .content .book-container .book-info .decrease {
  padding: 8px;
  background-color: aliceblue;
  color: #000;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
}

.container .content .book-container .book-info .add-to-cart:hover,
.container .content .book-container .book-info .remove-from-cart:hover,
.container .content .book-container .book-info .increase:hover,
.container .content .book-container .book-info .decrease:hover {
  background-color: #1201fc;
  color: #fff;
}

.container .content .book-container .book-info .remove-from-cart {
  display: block;
  margin-top: 10px;
}

.container .content .book-container .book-info .remove-from-cart:hover {
  background-color: #ff1201;
}

.container .content .book-container .book-info .increase,
.container .content .book-container .book-info .decrease {
  padding: 8px 25.5px;
  margin-right: 10px;
}

@media (max-width: 512px) {
  .book-container {
    margin: 10px !important;
  }
  .book-container .book-img {
    width: 160px !important;
    height: 240px !important;
    margin-right: 10px !important;
  }
}
/*# sourceMappingURL=styles.css.map */